In [1]:
#HLT W4,1:
import pandas as pd
count = pd.read_csv("travel.csv")
count.shape

(15, 5)

In [3]:
#HLT W4,2:
import pandas as pd
rows = pd.read_csv("travel.csv")
print(rows.iloc[3:9])

  Destination  Feedback  Average_Star  AIH Most_Visited
3    Portugal         5             3   11        Porto
4     Hungary         5             2   12     Budapest
5       Italy         3             2    9         Rome
6    Thailand         7             2   11      Bangkok
7     Germany         8             3   17       Berlin
8       Spain         5             3   16    Barcelona

In [6]:
#HLT W4,3:
import pandas as pd
mean = pd.read_csv("travel.csv")
mean["AIH"].mean()

14.8

In [9]:
#HLT W4,4:
import pandas as pd
lowest = pd.read_csv("travel.csv")
lowest["Feedback"].idxmin() # = Index 9
lowest.iloc[9]

Destination       Morocco
Feedback                1
Average_Star            3
AIH                     5
Most_Visited    Marrakesh
Name: 9, dtype: object

In [11]:
#HLT W4,5:
import pandas as pd
highest = pd.read_csv("travel.csv")
highest["Feedback"].idxmax() # = Index 11
highest.iloc[11]

Destination          USA
Feedback              10
Average_Star           4
AIH                   25
Most_Visited    New York
Name: 11, dtype: object

In [23]:
#HLT W4,6:
import pandas as pd
hotels = pd.read_csv("travel.csv")
hotels[(hotels.AIH > 9)]

    Destination  Feedback  Average_Star  AIH Most_Visited
0           UAE         8             3   20        Dubai
1        Canada         9             4   22      Toronto
2        France         7             3   17        Paris
3      Portugal         5             3   11        Porto
4       Hungary         5             2   12     Budapest
6      Thailand         7             2   11      Bangkok
7       Germany         8             3   17       Berlin
8         Spain         5             3   16    Barcelona
10  Netherlands         9             4   22    Amsterdam
11          USA        10             4   25     New York
12           UK         7             3   21       London

In [31]:
#HLT W4,7:
import pandas as pd
score = pd.read_csv("travel.csv")
score[score.Feedback > 8]

    Destination  Feedback  Average_Star  AIH Most_Visited
1        Canada         9             4   22      Toronto
10  Netherlands         9             4   22    Amsterdam
11          USA        10             4   25     New York

In [30]:
#HLT W4,8:
import pandas as pd
score = pd.read_csv("travel.csv")
score [score.Feedback < 2]

   Destination  Feedback  Average_Star  AIH Most_Visited
9      Morocco         1             3    5    Marrakesh
14     Romania         1             1    5    Bucharest